///*------------------------------------*\
//    #CORE/HTML - FORMS
//\*------------------------------------*/

form {}

button {}

select,
input {
  @include font-size(16, 24);
}

input {
	border: 1px solid $mercury;
	&::-webkit-input-placeholder {
		color: $dovegray;
	}
	&:-moz-placeholder {
		color: $dovegray;
	}
	&::-moz-placeholder {
		color: $dovegray;
	}
	&:-ms-input-placeholder {
		color: $dovegray;
	}
}

input[type='submit'],
input[type='radio'],
input[type='checkbox'] {
  width: auto;
}

input[type='submit'] {
	display: inline-block;	
	border: none;
	background: $seagreen;
	color: $white;
	cursor: pointer;
	padding: 15px 50px;
	margin-top: 20px;
}

input[type='text'] {}

input[type='password'] {}

input[type='radio'] {}

input[type='checkbox'] {}

span.checkButton {
	width: 100%;
}

label {
  display: block;
}

textarea {
	border: 1px solid $mercury;
	color: $dovegray;
	line-height: 1.25;
}

select {
	border: 1px solid $mercury;
	border-radius: 0;
}
