///*------------------------------------*\
//    #CORE/HTML - TYPOGRAPHY
//\*------------------------------------*/
body {
	-webkit-font-smooting: antialiased;
}

em {
  font-style: normal;
}

strong {
  font-weight: 700;
}

p {}

blockquote {}

cite {}

// Uppercase
.user-action,
.question.two label,
.next,
input[type='submit'] {
	text-transform: uppercase;
}

.hero {
	h1 {
		font-family: $sansRegular;
		color: $white;
		font-size: 85px;
	}
	h2 {
		color: $dustblue;
		font-size: 20px;
	}
}

.form {
	h1 {
		color: $caveblack;
		font-family: $sansBold;
		font-size: 32px;
		margin: 0 0 18px 0;
	}
	h2 {
		color: $dovegray;
		font-size: 18px;
		margin: 0 0 0 3px;
	}
	.user-action {
		color: $silver;
		font-size: 14px;
		letter-spacing: 1px;
	}
	.next a {
		color: $white;
	}
}

footer {
	color: $dustblue;
}



