.form {
	.header {
		overflow: hidden;
		margin-bottom: 40px;
		.span-8 {
			margin-top: 38px;
		}
		.span-4 {
			margin-top: 42px;
		}
	} 
	.question {
		background: #fff;
		.inner-wrapper {
			max-width: 960px;
		}
		&.complete {
			h1 {
				&:before {
					font-family: $icomoon;
					content: "\e900";
					color: $white;
					background: $seagreen;
					border-radius: 100%;
					padding: 5px;
					font-size: 16px;
					vertical-align: top;
					margin-right: 12px;
				}
			}
		}
		.fields-wrapper,
		fieldset {
			overflow: hidden;
			clear: both;
		}
		.fields-wrapper {
			margin-bottom: 42px;
		}
		&.one {
			overflow: visible;
			margin-top: 50px;
		}
		&.two {
			margin-top: 25px;
		}
	}
	.user-action {
		display: inline-block;
		float: right;
		position: relative;
		&.edit:before {
			font-family: $icomoon;
			content: "\e901";
			position: absolute;
			left: -22px;
		}
	}
	.wrapper-submit {
		text-align: center;
	}
}
