.question.one {
	// .fields-wrapper {
	// 	.span-6 {
	// 		width: 48%;
	// 		margin-right: 4%;
	// 		&:last-child {
	// 			margin-right: 0;
	// 		}
	// 	}
	// 	.span-8 {
	// 		width: 60.35514%;
	// 		margin-right: 6.93458%;
	// 	}
	// }
	input {
		display: inline-block;
		padding: 10px 0 10px 20px;
		margin: 1px 1px 19px 1px;
		width: 99%;
		&:focus,
		&:hover {
			outline: none;
			border: 2px solid $seagreen;
			margin: 0 0 18px 0;
		}
		&.valid {
			padding-left: 35px;
		}	
	}
}