.question.one {
	position: relative;
}
.toggle-container {
	text-align: center;
}
.arrow-toggle {
	display: inline-block;
	position: absolute;
	width: 60px;
	left: 50%;
	margin-left: -30px;
	height: 45px;
	background: $white;
	top: -40px;
	text-align: center;
	&:after {
		content: '';
		border-color: $mediumblue transparent transparent transparent;
		border-style: solid;
		border-width: 9px 7px 0 7px;
		display: inline-block;
		margin-top: 18px;
	}
}