.question.two {
	label {
		border: 2px solid $seagreen;
		padding: 10px 0;
		text-align: center;
		cursor: pointer;
		&.other.active {
			background: $seagreen;
	  		color: $white;
		}
	}
	input[type="checkbox"] {
		position: absolute;
	    -webkit-appearance: menulist-button;
	    opacity: 0;
	    height: 29px;
	}
	.check-with-label:checked + .label-for-check {
	  background: $seagreen;
	  color: $white;
	}
	textarea {
		display: none;
		&.active {
			display: block;
		}
	}
}