.next {
	text-align: center;
	background: $glazegreen;
	background: -moz-linear-gradient(-45deg,  #88c8ba 44%, #7fbebc 60%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #88c8ba 44%,#7fbebc 60%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #88c8ba 44%,#7fbebc 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c8ba', endColorstr='#7fbebc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	&.active {
		background: $seagreen;
		background: -moz-linear-gradient(-45deg,  rgba(56,163,140,1) 44%, rgba(42,146,144,1) 60%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg,  rgba(56,163,140,1) 44%,rgba(42,146,144,1) 60%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg,  rgba(56,163,140,1) 44%,rgba(42,146,144,1) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a38c', endColorstr='#2a9290',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	a {
		display: block;
		padding: 15px 0;
	}
}



