/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

audio:not([controls]) {
  display: none; }

b,
strong {
  font-weight: bolder; }

button {
  -webkit-appearance: button;
  overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

button,
select {
  text-transform: none; }

details {
  display: block; }

hr {
  overflow: visible; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

input {
  -webkit-border-radius: 0; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
  input[type="number"] {
    width: auto; }
  input[type="search"] {
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

summary {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

/*
 * Opinionated defaults
 */
* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

svg {
  fill: currentColor; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

/*
 * Configurable defaults
 */
* {
  background-repeat: no-repeat; }

:root {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 66.66667% sans-serif; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

small {
  font-size: 75%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

/* Note: This either needs to be completely replaced or needs to go away entirely.
 * There are much better approaches to handling REM font sizing (and REM fallbacks)
 * using off-the-shelf libraries + PostCSS processors
 */
/* Note: this keeps the margins consistent on the text elements between mobile and desktop
 * Adding a breakpoint will create unified control across breakpoints
 */
/* Note: the palette function is included here (vs in the tools directory)
 * since both of these needed in order to work properly
 */
/** Ex. Light brown
p {
  color: palette(brown, light);
}
**/
@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat/montserrat-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat Bold";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat/montserrat-bold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/icomoon/icomoon.woff2") format("woff2"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.ttf") format("truetype"); }

.span-1 {
  width: 100%; }
  .span-1.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-1 {
      width: 7.47664%; }
      .span-1.center {
        margin-left: 46.26168%; } }

.push-1 {
  margin-left: 8.41121%; }

.pull-1 {
  margin-left: -8.41121%; }

.span-2 {
  width: 100%; }
  .span-2.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-2 {
      width: 15.88785%; }
      .span-2.center {
        margin-left: 42.05607%; } }

.push-2 {
  margin-left: 16.82243%; }

.pull-2 {
  margin-left: -16.82243%; }

.span-3 {
  width: 100%; }
  .span-3.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-3 {
      width: 24.29907%; }
      .span-3.center {
        margin-left: 37.85047%; } }

.push-3 {
  margin-left: 25.23364%; }

.pull-3 {
  margin-left: -25.23364%; }

.span-4 {
  width: 100%; }
  .span-4.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-4 {
      width: 32.71028%; }
      .span-4.center {
        margin-left: 33.64486%; } }

.push-4 {
  margin-left: 33.64486%; }

.pull-4 {
  margin-left: -33.64486%; }

.span-5 {
  width: 100%; }
  .span-5.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-5 {
      width: 41.1215%; }
      .span-5.center {
        margin-left: 29.43925%; } }

.push-5 {
  margin-left: 42.05607%; }

.pull-5 {
  margin-left: -42.05607%; }

.span-6 {
  width: 100%; }
  .span-6.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-6 {
      width: 49.53271%; }
      .span-6.center {
        margin-left: 25.23364%; } }

.push-6 {
  margin-left: 50.46729%; }

.pull-6 {
  margin-left: -50.46729%; }

.span-7 {
  width: 100%; }
  .span-7.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-7 {
      width: 57.94393%; }
      .span-7.center {
        margin-left: 21.02804%; } }

.push-7 {
  margin-left: 58.8785%; }

.pull-7 {
  margin-left: -58.8785%; }

.span-8 {
  width: 100%; }
  .span-8.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-8 {
      width: 66.35514%; }
      .span-8.center {
        margin-left: 16.82243%; } }

.push-8 {
  margin-left: 67.28972%; }

.pull-8 {
  margin-left: -67.28972%; }

.span-9 {
  width: 100%; }
  .span-9.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-9 {
      width: 74.76636%; }
      .span-9.center {
        margin-left: 12.61682%; } }

.push-9 {
  margin-left: 75.70093%; }

.pull-9 {
  margin-left: -75.70093%; }

.span-10 {
  width: 100%; }
  .span-10.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-10 {
      width: 83.17757%; }
      .span-10.center {
        margin-left: 8.41121%; } }

.push-10 {
  margin-left: 84.11215%; }

.pull-10 {
  margin-left: -84.11215%; }

.span-11 {
  width: 100%; }
  .span-11.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-11 {
      width: 91.58879%; }
      .span-11.center {
        margin-left: 4.20561%; } }

.push-11 {
  margin-left: 92.52336%; }

.pull-11 {
  margin-left: -92.52336%; }

.span-12 {
  width: 100%; }
  .span-12.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-12 {
      width: 100%; }
      .span-12.center {
        margin-left: 0%; } }

.push-12 {
  margin-left: 100.93458%; }

.pull-12 {
  margin-left: -100.93458%; }

.span-1of12 {
  width: 100%; }
  .span-1of12.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-1of12 {
      width: 7.47664%; }
      .span-1of12.center {
        margin-left: 46.26168%; } }

.span-1of6 {
  width: 100%; }
  .span-1of6.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-1of6 {
      width: 15.88785%; }
      .span-1of6.center {
        margin-left: 42.05607%; } }

.span-1of4 {
  width: 100%; }
  .span-1of4.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-1of4 {
      width: 24.29907%; }
      .span-1of4.center {
        margin-left: 37.85047%; } }

.span-1of3 {
  width: 100%; }
  .span-1of3.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-1of3 {
      width: 32.71028%; }
      .span-1of3.center {
        margin-left: 33.64486%; } }

.span-5of12 {
  width: 100%; }
  .span-5of12.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-5of12 {
      width: 41.1215%; }
      .span-5of12.center {
        margin-left: 29.43925%; } }

.span-1of2 {
  width: 100%; }
  .span-1of2.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-1of2 {
      width: 49.53271%; }
      .span-1of2.center {
        margin-left: 25.23364%; } }

.span-7of12 {
  width: 100%; }
  .span-7of12.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-7of12 {
      width: 57.94393%; }
      .span-7of12.center {
        margin-left: 21.02804%; } }

.span-2of3 {
  width: 100%; }
  .span-2of3.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-2of3 {
      width: 66.35514%; }
      .span-2of3.center {
        margin-left: 16.82243%; } }

.span-3of4 {
  width: 100%; }
  .span-3of4.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-3of4 {
      width: 74.76636%; }
      .span-3of4.center {
        margin-left: 12.61682%; } }

.span-5of6 {
  width: 100%; }
  .span-5of6.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-5of6 {
      width: 83.17757%; }
      .span-5of6.center {
        margin-left: 8.41121%; } }

.span-11of12 {
  width: 100%; }
  .span-11of12.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-11of12 {
      width: 91.58879%; }
      .span-11of12.center {
        margin-left: 4.20561%; } }

.span-1of1 {
  width: 100%; }
  .span-1of1.center {
    margin-left: 0%; }
  @media (min-width: 400px) {
    .span-1of1 {
      width: 100%; }
      .span-1of1.center {
        margin-left: 0%; } }

@media (min-width: 240px) {
  .span-1\@mobile {
    width: 100%; }
    .span-1\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-1\@mobile {
      width: 7.47664%; }
      .span-1\@mobile.center {
        margin-left: 46.26168%; } }

@media (min-width: 240px) {
  .push-1\@mobile {
    margin-left: 8.41121%; }
  .pull-1\@mobile {
    margin-left: -8.41121%; }
  .span-2\@mobile {
    width: 100%; }
    .span-2\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-2\@mobile {
      width: 15.88785%; }
      .span-2\@mobile.center {
        margin-left: 42.05607%; } }

@media (min-width: 240px) {
  .push-2\@mobile {
    margin-left: 16.82243%; }
  .pull-2\@mobile {
    margin-left: -16.82243%; }
  .span-3\@mobile {
    width: 100%; }
    .span-3\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-3\@mobile {
      width: 24.29907%; }
      .span-3\@mobile.center {
        margin-left: 37.85047%; } }

@media (min-width: 240px) {
  .push-3\@mobile {
    margin-left: 25.23364%; }
  .pull-3\@mobile {
    margin-left: -25.23364%; }
  .span-4\@mobile {
    width: 100%; }
    .span-4\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-4\@mobile {
      width: 32.71028%; }
      .span-4\@mobile.center {
        margin-left: 33.64486%; } }

@media (min-width: 240px) {
  .push-4\@mobile {
    margin-left: 33.64486%; }
  .pull-4\@mobile {
    margin-left: -33.64486%; }
  .span-5\@mobile {
    width: 100%; }
    .span-5\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-5\@mobile {
      width: 41.1215%; }
      .span-5\@mobile.center {
        margin-left: 29.43925%; } }

@media (min-width: 240px) {
  .push-5\@mobile {
    margin-left: 42.05607%; }
  .pull-5\@mobile {
    margin-left: -42.05607%; }
  .span-6\@mobile {
    width: 100%; }
    .span-6\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-6\@mobile {
      width: 49.53271%; }
      .span-6\@mobile.center {
        margin-left: 25.23364%; } }

@media (min-width: 240px) {
  .push-6\@mobile {
    margin-left: 50.46729%; }
  .pull-6\@mobile {
    margin-left: -50.46729%; }
  .span-7\@mobile {
    width: 100%; }
    .span-7\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-7\@mobile {
      width: 57.94393%; }
      .span-7\@mobile.center {
        margin-left: 21.02804%; } }

@media (min-width: 240px) {
  .push-7\@mobile {
    margin-left: 58.8785%; }
  .pull-7\@mobile {
    margin-left: -58.8785%; }
  .span-8\@mobile {
    width: 100%; }
    .span-8\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-8\@mobile {
      width: 66.35514%; }
      .span-8\@mobile.center {
        margin-left: 16.82243%; } }

@media (min-width: 240px) {
  .push-8\@mobile {
    margin-left: 67.28972%; }
  .pull-8\@mobile {
    margin-left: -67.28972%; }
  .span-9\@mobile {
    width: 100%; }
    .span-9\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-9\@mobile {
      width: 74.76636%; }
      .span-9\@mobile.center {
        margin-left: 12.61682%; } }

@media (min-width: 240px) {
  .push-9\@mobile {
    margin-left: 75.70093%; }
  .pull-9\@mobile {
    margin-left: -75.70093%; }
  .span-10\@mobile {
    width: 100%; }
    .span-10\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-10\@mobile {
      width: 83.17757%; }
      .span-10\@mobile.center {
        margin-left: 8.41121%; } }

@media (min-width: 240px) {
  .push-10\@mobile {
    margin-left: 84.11215%; }
  .pull-10\@mobile {
    margin-left: -84.11215%; }
  .span-11\@mobile {
    width: 100%; }
    .span-11\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-11\@mobile {
      width: 91.58879%; }
      .span-11\@mobile.center {
        margin-left: 4.20561%; } }

@media (min-width: 240px) {
  .push-11\@mobile {
    margin-left: 92.52336%; }
  .pull-11\@mobile {
    margin-left: -92.52336%; }
  .span-12\@mobile {
    width: 100%; }
    .span-12\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-12\@mobile {
      width: 100%; }
      .span-12\@mobile.center {
        margin-left: 0%; } }

@media (min-width: 240px) {
  .push-12\@mobile {
    margin-left: 100.93458%; }
  .pull-12\@mobile {
    margin-left: -100.93458%; }
  .span-1of12\@mobile {
    width: 100%; }
    .span-1of12\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-1of12\@mobile {
      width: 7.47664%; }
      .span-1of12\@mobile.center {
        margin-left: 46.26168%; } }

@media (min-width: 240px) {
  .span-1of6\@mobile {
    width: 100%; }
    .span-1of6\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-1of6\@mobile {
      width: 15.88785%; }
      .span-1of6\@mobile.center {
        margin-left: 42.05607%; } }

@media (min-width: 240px) {
  .span-1of4\@mobile {
    width: 100%; }
    .span-1of4\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-1of4\@mobile {
      width: 24.29907%; }
      .span-1of4\@mobile.center {
        margin-left: 37.85047%; } }

@media (min-width: 240px) {
  .span-1of3\@mobile {
    width: 100%; }
    .span-1of3\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-1of3\@mobile {
      width: 32.71028%; }
      .span-1of3\@mobile.center {
        margin-left: 33.64486%; } }

@media (min-width: 240px) {
  .span-5of12\@mobile {
    width: 100%; }
    .span-5of12\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-5of12\@mobile {
      width: 41.1215%; }
      .span-5of12\@mobile.center {
        margin-left: 29.43925%; } }

@media (min-width: 240px) {
  .span-1of2\@mobile {
    width: 100%; }
    .span-1of2\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-1of2\@mobile {
      width: 49.53271%; }
      .span-1of2\@mobile.center {
        margin-left: 25.23364%; } }

@media (min-width: 240px) {
  .span-7of12\@mobile {
    width: 100%; }
    .span-7of12\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-7of12\@mobile {
      width: 57.94393%; }
      .span-7of12\@mobile.center {
        margin-left: 21.02804%; } }

@media (min-width: 240px) {
  .span-2of3\@mobile {
    width: 100%; }
    .span-2of3\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-2of3\@mobile {
      width: 66.35514%; }
      .span-2of3\@mobile.center {
        margin-left: 16.82243%; } }

@media (min-width: 240px) {
  .span-3of4\@mobile {
    width: 100%; }
    .span-3of4\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-3of4\@mobile {
      width: 74.76636%; }
      .span-3of4\@mobile.center {
        margin-left: 12.61682%; } }

@media (min-width: 240px) {
  .span-5of6\@mobile {
    width: 100%; }
    .span-5of6\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-5of6\@mobile {
      width: 83.17757%; }
      .span-5of6\@mobile.center {
        margin-left: 8.41121%; } }

@media (min-width: 240px) {
  .span-11of12\@mobile {
    width: 100%; }
    .span-11of12\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-11of12\@mobile {
      width: 91.58879%; }
      .span-11of12\@mobile.center {
        margin-left: 4.20561%; } }

@media (min-width: 240px) {
  .span-1of1\@mobile {
    width: 100%; }
    .span-1of1\@mobile.center {
      margin-left: 0%; } }
  @media (min-width: 240px) and (min-width: 400px) {
    .span-1of1\@mobile {
      width: 100%; }
      .span-1of1\@mobile.center {
        margin-left: 0%; } }

@media (min-width: 600px) {
  .span-1\@tablet {
    width: 100%; }
    .span-1\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-1\@tablet {
      width: 7.47664%; }
      .span-1\@tablet.center {
        margin-left: 46.26168%; } }

@media (min-width: 600px) {
  .push-1\@tablet {
    margin-left: 8.41121%; }
  .pull-1\@tablet {
    margin-left: -8.41121%; }
  .span-2\@tablet {
    width: 100%; }
    .span-2\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-2\@tablet {
      width: 15.88785%; }
      .span-2\@tablet.center {
        margin-left: 42.05607%; } }

@media (min-width: 600px) {
  .push-2\@tablet {
    margin-left: 16.82243%; }
  .pull-2\@tablet {
    margin-left: -16.82243%; }
  .span-3\@tablet {
    width: 100%; }
    .span-3\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-3\@tablet {
      width: 24.29907%; }
      .span-3\@tablet.center {
        margin-left: 37.85047%; } }

@media (min-width: 600px) {
  .push-3\@tablet {
    margin-left: 25.23364%; }
  .pull-3\@tablet {
    margin-left: -25.23364%; }
  .span-4\@tablet {
    width: 100%; }
    .span-4\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-4\@tablet {
      width: 32.71028%; }
      .span-4\@tablet.center {
        margin-left: 33.64486%; } }

@media (min-width: 600px) {
  .push-4\@tablet {
    margin-left: 33.64486%; }
  .pull-4\@tablet {
    margin-left: -33.64486%; }
  .span-5\@tablet {
    width: 100%; }
    .span-5\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-5\@tablet {
      width: 41.1215%; }
      .span-5\@tablet.center {
        margin-left: 29.43925%; } }

@media (min-width: 600px) {
  .push-5\@tablet {
    margin-left: 42.05607%; }
  .pull-5\@tablet {
    margin-left: -42.05607%; }
  .span-6\@tablet {
    width: 100%; }
    .span-6\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-6\@tablet {
      width: 49.53271%; }
      .span-6\@tablet.center {
        margin-left: 25.23364%; } }

@media (min-width: 600px) {
  .push-6\@tablet {
    margin-left: 50.46729%; }
  .pull-6\@tablet {
    margin-left: -50.46729%; }
  .span-7\@tablet {
    width: 100%; }
    .span-7\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-7\@tablet {
      width: 57.94393%; }
      .span-7\@tablet.center {
        margin-left: 21.02804%; } }

@media (min-width: 600px) {
  .push-7\@tablet {
    margin-left: 58.8785%; }
  .pull-7\@tablet {
    margin-left: -58.8785%; }
  .span-8\@tablet {
    width: 100%; }
    .span-8\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-8\@tablet {
      width: 66.35514%; }
      .span-8\@tablet.center {
        margin-left: 16.82243%; } }

@media (min-width: 600px) {
  .push-8\@tablet {
    margin-left: 67.28972%; }
  .pull-8\@tablet {
    margin-left: -67.28972%; }
  .span-9\@tablet {
    width: 100%; }
    .span-9\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-9\@tablet {
      width: 74.76636%; }
      .span-9\@tablet.center {
        margin-left: 12.61682%; } }

@media (min-width: 600px) {
  .push-9\@tablet {
    margin-left: 75.70093%; }
  .pull-9\@tablet {
    margin-left: -75.70093%; }
  .span-10\@tablet {
    width: 100%; }
    .span-10\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-10\@tablet {
      width: 83.17757%; }
      .span-10\@tablet.center {
        margin-left: 8.41121%; } }

@media (min-width: 600px) {
  .push-10\@tablet {
    margin-left: 84.11215%; }
  .pull-10\@tablet {
    margin-left: -84.11215%; }
  .span-11\@tablet {
    width: 100%; }
    .span-11\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-11\@tablet {
      width: 91.58879%; }
      .span-11\@tablet.center {
        margin-left: 4.20561%; } }

@media (min-width: 600px) {
  .push-11\@tablet {
    margin-left: 92.52336%; }
  .pull-11\@tablet {
    margin-left: -92.52336%; }
  .span-12\@tablet {
    width: 100%; }
    .span-12\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-12\@tablet {
      width: 100%; }
      .span-12\@tablet.center {
        margin-left: 0%; } }

@media (min-width: 600px) {
  .push-12\@tablet {
    margin-left: 100.93458%; }
  .pull-12\@tablet {
    margin-left: -100.93458%; }
  .span-1of12\@tablet {
    width: 100%; }
    .span-1of12\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-1of12\@tablet {
      width: 7.47664%; }
      .span-1of12\@tablet.center {
        margin-left: 46.26168%; } }

@media (min-width: 600px) {
  .span-1of6\@tablet {
    width: 100%; }
    .span-1of6\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-1of6\@tablet {
      width: 15.88785%; }
      .span-1of6\@tablet.center {
        margin-left: 42.05607%; } }

@media (min-width: 600px) {
  .span-1of4\@tablet {
    width: 100%; }
    .span-1of4\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-1of4\@tablet {
      width: 24.29907%; }
      .span-1of4\@tablet.center {
        margin-left: 37.85047%; } }

@media (min-width: 600px) {
  .span-1of3\@tablet {
    width: 100%; }
    .span-1of3\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-1of3\@tablet {
      width: 32.71028%; }
      .span-1of3\@tablet.center {
        margin-left: 33.64486%; } }

@media (min-width: 600px) {
  .span-5of12\@tablet {
    width: 100%; }
    .span-5of12\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-5of12\@tablet {
      width: 41.1215%; }
      .span-5of12\@tablet.center {
        margin-left: 29.43925%; } }

@media (min-width: 600px) {
  .span-1of2\@tablet {
    width: 100%; }
    .span-1of2\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-1of2\@tablet {
      width: 49.53271%; }
      .span-1of2\@tablet.center {
        margin-left: 25.23364%; } }

@media (min-width: 600px) {
  .span-7of12\@tablet {
    width: 100%; }
    .span-7of12\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-7of12\@tablet {
      width: 57.94393%; }
      .span-7of12\@tablet.center {
        margin-left: 21.02804%; } }

@media (min-width: 600px) {
  .span-2of3\@tablet {
    width: 100%; }
    .span-2of3\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-2of3\@tablet {
      width: 66.35514%; }
      .span-2of3\@tablet.center {
        margin-left: 16.82243%; } }

@media (min-width: 600px) {
  .span-3of4\@tablet {
    width: 100%; }
    .span-3of4\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-3of4\@tablet {
      width: 74.76636%; }
      .span-3of4\@tablet.center {
        margin-left: 12.61682%; } }

@media (min-width: 600px) {
  .span-5of6\@tablet {
    width: 100%; }
    .span-5of6\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-5of6\@tablet {
      width: 83.17757%; }
      .span-5of6\@tablet.center {
        margin-left: 8.41121%; } }

@media (min-width: 600px) {
  .span-11of12\@tablet {
    width: 100%; }
    .span-11of12\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-11of12\@tablet {
      width: 91.58879%; }
      .span-11of12\@tablet.center {
        margin-left: 4.20561%; } }

@media (min-width: 600px) {
  .span-1of1\@tablet {
    width: 100%; }
    .span-1of1\@tablet.center {
      margin-left: 0%; } }
  @media (min-width: 600px) and (min-width: 400px) {
    .span-1of1\@tablet {
      width: 100%; }
      .span-1of1\@tablet.center {
        margin-left: 0%; } }

@media (min-width: 1000px) {
  .span-1\@desktop {
    width: 100%; }
    .span-1\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-1\@desktop {
      width: 7.47664%; }
      .span-1\@desktop.center {
        margin-left: 46.26168%; } }

@media (min-width: 1000px) {
  .push-1\@desktop {
    margin-left: 8.41121%; }
  .pull-1\@desktop {
    margin-left: -8.41121%; }
  .span-2\@desktop {
    width: 100%; }
    .span-2\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-2\@desktop {
      width: 15.88785%; }
      .span-2\@desktop.center {
        margin-left: 42.05607%; } }

@media (min-width: 1000px) {
  .push-2\@desktop {
    margin-left: 16.82243%; }
  .pull-2\@desktop {
    margin-left: -16.82243%; }
  .span-3\@desktop {
    width: 100%; }
    .span-3\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-3\@desktop {
      width: 24.29907%; }
      .span-3\@desktop.center {
        margin-left: 37.85047%; } }

@media (min-width: 1000px) {
  .push-3\@desktop {
    margin-left: 25.23364%; }
  .pull-3\@desktop {
    margin-left: -25.23364%; }
  .span-4\@desktop {
    width: 100%; }
    .span-4\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-4\@desktop {
      width: 32.71028%; }
      .span-4\@desktop.center {
        margin-left: 33.64486%; } }

@media (min-width: 1000px) {
  .push-4\@desktop {
    margin-left: 33.64486%; }
  .pull-4\@desktop {
    margin-left: -33.64486%; }
  .span-5\@desktop {
    width: 100%; }
    .span-5\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-5\@desktop {
      width: 41.1215%; }
      .span-5\@desktop.center {
        margin-left: 29.43925%; } }

@media (min-width: 1000px) {
  .push-5\@desktop {
    margin-left: 42.05607%; }
  .pull-5\@desktop {
    margin-left: -42.05607%; }
  .span-6\@desktop {
    width: 100%; }
    .span-6\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-6\@desktop {
      width: 49.53271%; }
      .span-6\@desktop.center {
        margin-left: 25.23364%; } }

@media (min-width: 1000px) {
  .push-6\@desktop {
    margin-left: 50.46729%; }
  .pull-6\@desktop {
    margin-left: -50.46729%; }
  .span-7\@desktop {
    width: 100%; }
    .span-7\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-7\@desktop {
      width: 57.94393%; }
      .span-7\@desktop.center {
        margin-left: 21.02804%; } }

@media (min-width: 1000px) {
  .push-7\@desktop {
    margin-left: 58.8785%; }
  .pull-7\@desktop {
    margin-left: -58.8785%; }
  .span-8\@desktop {
    width: 100%; }
    .span-8\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-8\@desktop {
      width: 66.35514%; }
      .span-8\@desktop.center {
        margin-left: 16.82243%; } }

@media (min-width: 1000px) {
  .push-8\@desktop {
    margin-left: 67.28972%; }
  .pull-8\@desktop {
    margin-left: -67.28972%; }
  .span-9\@desktop {
    width: 100%; }
    .span-9\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-9\@desktop {
      width: 74.76636%; }
      .span-9\@desktop.center {
        margin-left: 12.61682%; } }

@media (min-width: 1000px) {
  .push-9\@desktop {
    margin-left: 75.70093%; }
  .pull-9\@desktop {
    margin-left: -75.70093%; }
  .span-10\@desktop {
    width: 100%; }
    .span-10\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-10\@desktop {
      width: 83.17757%; }
      .span-10\@desktop.center {
        margin-left: 8.41121%; } }

@media (min-width: 1000px) {
  .push-10\@desktop {
    margin-left: 84.11215%; }
  .pull-10\@desktop {
    margin-left: -84.11215%; }
  .span-11\@desktop {
    width: 100%; }
    .span-11\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-11\@desktop {
      width: 91.58879%; }
      .span-11\@desktop.center {
        margin-left: 4.20561%; } }

@media (min-width: 1000px) {
  .push-11\@desktop {
    margin-left: 92.52336%; }
  .pull-11\@desktop {
    margin-left: -92.52336%; }
  .span-12\@desktop {
    width: 100%; }
    .span-12\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-12\@desktop {
      width: 100%; }
      .span-12\@desktop.center {
        margin-left: 0%; } }

@media (min-width: 1000px) {
  .push-12\@desktop {
    margin-left: 100.93458%; }
  .pull-12\@desktop {
    margin-left: -100.93458%; }
  .span-1of12\@desktop {
    width: 100%; }
    .span-1of12\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-1of12\@desktop {
      width: 7.47664%; }
      .span-1of12\@desktop.center {
        margin-left: 46.26168%; } }

@media (min-width: 1000px) {
  .span-1of6\@desktop {
    width: 100%; }
    .span-1of6\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-1of6\@desktop {
      width: 15.88785%; }
      .span-1of6\@desktop.center {
        margin-left: 42.05607%; } }

@media (min-width: 1000px) {
  .span-1of4\@desktop {
    width: 100%; }
    .span-1of4\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-1of4\@desktop {
      width: 24.29907%; }
      .span-1of4\@desktop.center {
        margin-left: 37.85047%; } }

@media (min-width: 1000px) {
  .span-1of3\@desktop {
    width: 100%; }
    .span-1of3\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-1of3\@desktop {
      width: 32.71028%; }
      .span-1of3\@desktop.center {
        margin-left: 33.64486%; } }

@media (min-width: 1000px) {
  .span-5of12\@desktop {
    width: 100%; }
    .span-5of12\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-5of12\@desktop {
      width: 41.1215%; }
      .span-5of12\@desktop.center {
        margin-left: 29.43925%; } }

@media (min-width: 1000px) {
  .span-1of2\@desktop {
    width: 100%; }
    .span-1of2\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-1of2\@desktop {
      width: 49.53271%; }
      .span-1of2\@desktop.center {
        margin-left: 25.23364%; } }

@media (min-width: 1000px) {
  .span-7of12\@desktop {
    width: 100%; }
    .span-7of12\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-7of12\@desktop {
      width: 57.94393%; }
      .span-7of12\@desktop.center {
        margin-left: 21.02804%; } }

@media (min-width: 1000px) {
  .span-2of3\@desktop {
    width: 100%; }
    .span-2of3\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-2of3\@desktop {
      width: 66.35514%; }
      .span-2of3\@desktop.center {
        margin-left: 16.82243%; } }

@media (min-width: 1000px) {
  .span-3of4\@desktop {
    width: 100%; }
    .span-3of4\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-3of4\@desktop {
      width: 74.76636%; }
      .span-3of4\@desktop.center {
        margin-left: 12.61682%; } }

@media (min-width: 1000px) {
  .span-5of6\@desktop {
    width: 100%; }
    .span-5of6\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-5of6\@desktop {
      width: 83.17757%; }
      .span-5of6\@desktop.center {
        margin-left: 8.41121%; } }

@media (min-width: 1000px) {
  .span-11of12\@desktop {
    width: 100%; }
    .span-11of12\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-11of12\@desktop {
      width: 91.58879%; }
      .span-11of12\@desktop.center {
        margin-left: 4.20561%; } }

@media (min-width: 1000px) {
  .span-1of1\@desktop {
    width: 100%; }
    .span-1of1\@desktop.center {
      margin-left: 0%; } }
  @media (min-width: 1000px) and (min-width: 400px) {
    .span-1of1\@desktop {
      width: 100%; }
      .span-1of1\@desktop.center {
        margin-left: 0%; } }

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.remove-center {
  margin-right: 0; }

.row {
  display: block; }

[class^='span-'] {
  float: left;
  margin-right: 0.93458%; }
  [class^='span-']:last-child {
    margin-right: 0; }

.row:after,
.clearfix:after {
  content: "" !important;
  display: block !important;
  clear: both !important; }

/* Note: This mixin adds top and bottom margins to elements.
 * This maintain a consistent layout from breakpoint to breakpoint and a singular place to update.
 * The option "margin-control-center" will maintain the top and bottom margins and add auto to the left and right
 * The option "margin-control-override" will remove all margins from the element (useful for scoped HTML tags)
 */
.margin-control {
  margin: 1.5rem 0; }

.margin-control-center {
  margin: 1.5rem auto; }

.margin-control-override {
  margin: 0 !important; }

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin: 1.5rem 0; }

/**
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Note: Will be replaced once SVG feature branch is completed */
[class^='icon-'],
[class*=' icon-'] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  [class^='icon-']:before,
  [class*=' icon-']:before {
    font-size: inherit;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1.5rem; }

.icon {
  font-size: 2rem; }


.icon-chevron-right:before {
  content: "\e902"; }


.icon-check:before {
  content: '\e900'; }


.icon-edit:before {
  content: '\e901'; }

/* Note: The ":root" selector allows you to target the highest-level "parent"
 * element in the DOM, or document tree.
 * (https://css-tricks.com/almanac/selectors/r/root)
 */
:root {
  position: relative; }

.outer-wrapper {
  margin: 0 auto;
  max-width: 1280px; }

.inner-wrapper {
  margin: 0 auto;
  width: 90%;
  overflow: hidden; }

select,
input {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem; }

fieldset {
  margin: 0; }

input {
  border: 1px solid #e1e1e1; }
  input::-webkit-input-placeholder {
    color: #707070; }
  input:-moz-placeholder {
    color: #707070; }
  input::-moz-placeholder {
    color: #707070; }
  input:-ms-input-placeholder {
    color: #707070; }

input[type='submit'],
input[type='radio'],
input[type='checkbox'] {
  width: auto; }

input[type='submit'] {
  display: inline-block;
  border: none;
  color: #fff;
  background: #38a38c;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #38a38c 40%, #2a9290 70%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(315deg, #38a38c 40%, #2a9290 70%);
  background: linear-gradient(135deg, #38a38c 40%, #2a9290 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a38c', endColorstr='#2a9290',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 16px 80px;
  margin-top: 60px;
  opacity: 0.7; }
  input[type='submit'].active {
    opacity: 1;
    cursor: pointer; }

span.checkButton {
  width: 100%; }

label {
  display: block; }

textarea {
  border: 1px solid #e1e1e1;
  color: #707070;
  line-height: 1.25;
  width: 100%;
  margin-top: 18px; }

select {
  border: 1px solid #e1e1e1;
  border-radius: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */
  height: auto;
  /* [4] */
  display: block;
  border: 0;
  /* [5] */ }

a {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-decoration: none; }

ul, ol, dl {
  margin-left: 3rem; }

* {
  box-sizing: border-box;
  word-wrap: normal;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%;
  height: 100%;
  min-height: 100vh; }

body {
  background: #043256 url("../images/bg.jpg") top/cover no-repeat;
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden; }
  .fonts-loaded body {
    font-family: "Montserrat Regular", Helvetica, Arial, sans-serif;
    font-weight: 400; }

tr,
td,
th {
  padding: 10px; }

body {
  -webkit-font-smoothing: antialiased; }

em {
  font-style: normal; }

strong {
  font-weight: 700; }

.user-action,
.question.two label,
.next,
input[type='submit'] {
  text-transform: uppercase;
  letter-spacing: 1px; }

.hero h1 {
  font-family: "Montserrat Regular", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 85px; }

.hero h2 {
  color: #cad9e2;
  font-size: 20px; }

.form h1 {
  color: #252525;
  font-family: "Montserrat Bold", Helvetica, Arial, sans-serif;
  font-size: 32px;
  margin: 0 0 18px 0; }

.form h2 {
  color: #707070;
  font-size: 18px;
  margin: 0 0 0 3px; }

.form .user-action {
  color: #cccccc;
  font-size: 13px; }

.form .next a {
  color: #fff; }

.form .question.one input {
  color: #707070;
  font-size: 14px; }

.form .question.two label {
  color: #38a38c;
  font-size: 14px; }

footer {
  color: #cad9e2;
  font-size: 13px; }

.question.one {
  position: relative; }

.toggle-container {
  text-align: center; }

.arrow-toggle {
  display: inline-block;
  position: absolute;
  width: 60px;
  left: 50%;
  margin-left: -30px;
  height: 45px;
  background: #fff;
  top: -40px;
  text-align: center; }
  .arrow-toggle:after {
    content: '';
    border-color: #00609c transparent transparent transparent;
    border-style: solid;
    border-width: 9px 7px 0 7px;
    display: inline-block;
    margin-top: 18px; }

.question.two label {
  border: 2px solid #38a38c;
  padding: 10px 0;
  text-align: center;
  cursor: pointer; }

.question.two input[type="checkbox"] {
  position: absolute;
  -webkit-appearance: menulist-button;
  opacity: 0;
  height: 29px; }

.question.two .check-with-label:checked + .label-for-check {
  background: #38a38c;
  color: #fff; }

.question.two textarea {
  display: none; }
  .question.two textarea.active {
    display: block; }

.example-card {
  background-color: gray; }

.next {
  text-align: center;
  background: #88c8ba;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #88c8ba 44%, #7fbebc 60%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(315deg, #88c8ba 44%, #7fbebc 60%);
  background: linear-gradient(135deg, #88c8ba 44%, #7fbebc 60%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c8ba', endColorstr='#7fbebc',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .next a {
    cursor: default;
    display: block;
    padding: 15px 0; }
  .next.active {
    cursor: pointer;
    background: #38a38c;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #38a38c 44%, #2a9290 60%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(315deg, #38a38c 44%, #2a9290 60%);
    background: linear-gradient(135deg, #38a38c 44%, #2a9290 60%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a38c', endColorstr='#2a9290',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    .next.active a {
      cursor: pointer; }

.statemenu {
  color: #707070;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  padding: 10px 0 10px 20px;
  margin: 1px 5% 1px 1px;
  width: 100%; }
  @media only screen and (max-width: 700px) {
    .statemenu {
      width: 99%; } }

.statemenuHover,
.statemenuFocus {
  border: 2px solid #38a38c;
  margin: 0 5.2% 0 0; }

.example.card-container {
  padding: 10px; }

footer {
  text-align: center;
  padding: 50px 0; }

.form .header {
  overflow: hidden;
  margin-bottom: 40px; }
  .form .header .span-8 {
    margin-top: 38px; }
    @media only screen and (min-width: 701px) and (max-width: 1024px) {
      .form .header .span-8 {
        width: 58%; } }
    @media only screen and (max-width: 700px) {
      .form .header .span-8 {
        margin: 38px 0 20px 0;
        width: 100%; } }
  .form .header .span-4 {
    margin-top: 42px; }
    @media only screen and (min-width: 701px) and (max-width: 1024px) {
      .form .header .span-4 {
        width: 41%; } }
    @media only screen and (max-width: 700px) {
      .form .header .span-4 {
        margin-top: 0;
        width: 100%; } }

.form .question {
  background: #fff; }
  .form .question .inner-wrapper {
    max-width: 960px; }
  .form .question.complete h1:before {
    font-family: "icomoon";
    content: "\e900";
    color: #fff;
    background: #38a38c;
    border-radius: 100%;
    padding: 5px;
    font-size: 16px;
    vertical-align: top;
    margin-right: 12px; }
  .form .question .fields-wrapper,
  .form .question fieldset {
    overflow: hidden;
    clear: both; }
  .form .question .fields-wrapper {
    display: none;
    margin-bottom: 42px; }
    .form .question .fields-wrapper .span-6 {
      width: 48%;
      margin-right: 4%; }
      .form .question .fields-wrapper .span-6:last-child {
        margin-right: 0; }
      @media only screen and (max-width: 700px) {
        .form .question .fields-wrapper .span-6 {
          width: 100%;
          margin-right: 0; } }
    .form .question .fields-wrapper .span-8 {
      width: 60.35514%;
      margin-right: 6.93458%; }
      @media only screen and (max-width: 700px) {
        .form .question .fields-wrapper .span-8 {
          width: 100%;
          margin-right: 0; } }
    @media only screen and (max-width: 700px) {
      .form .question .fields-wrapper .span-4 {
        width: 100%; } }
    @media only screen and (max-width: 700px) {
      .form .question .fields-wrapper input[name="zipcode"] {
        margin-top: 18px; }
        .form .question .fields-wrapper input[name="zipcode"]:focus, .form .question .fields-wrapper input[name="zipcode"]:hover {
          margin-top: 17px; } }
  .form .question .next {
    display: none; }
  .form .question .user-action {
    display: inline-block;
    float: right;
    position: relative; }
    .form .question .user-action.edit:before {
      font-family: "icomoon";
      content: "\e901";
      position: absolute;
      left: -24px; }
    @media only screen and (max-width: 700px) {
      .form .question .user-action {
        float: none; }
        .form .question .user-action.edit {
          margin-left: 26px; } }
  .form .question.active .fields-wrapper,
  .form .question.active .next {
    display: block; }
  .form .question.one {
    overflow: visible;
    margin-top: 50px; }
  .form .question.two {
    margin-top: 25px; }
    .form .question.two.start {
      opacity: 0.7; }
    .form .question.two .span-6 > div {
      margin-bottom: 18px; }
    .form .question.two label span {
      display: inline-block;
      float: right;
      margin-top: -3px; }

.form .wrapper-submit {
  text-align: center; }

header {
  background: #00609c;
  text-align: center; }
  header img {
    display: inline-block;
    margin: 20px 0; }

.hero {
  text-align: center;
  margin: 195px 0 125px 0; }
  .hero h1 {
    margin-top: 30px; }
  .hero h2 {
    margin-top: 64px; }

@media only screen and (min-width: 701px) and (max-width: 1024px) {
  .hero {
    margin: 100px 0 72px 0; }
    .hero h1 {
      font-size: 84px;
      line-height: 1.2; }
    .hero h2 {
      margin-top: 32px; } }

@media only screen and (max-width: 700px) {
  .hero {
    margin: 48px 0; }
    .hero h1 {
      font-size: 64px;
      line-height: 1.25; }
    .hero h2 {
      margin-top: 32px; } }

.question.one input {
  display: inline-block;
  padding: 10px 0 10px 20px;
  margin: 1px 1px 19px 1px;
  width: 99%; }
  .question.one input:focus, .question.one input:hover {
    outline: none;
    border: 2px solid #38a38c;
    margin: 0 0 18px 0; }

.question.one fieldset div.valid {
  position: relative; }
  .question.one fieldset div.valid:before {
    font-family: "icomoon";
    content: "\e900";
    color: #fff;
    background: #38a38c;
    border-radius: 100%;
    padding-left: 3px;
    font-size: 12px;
    position: absolute;
    height: 17px;
    width: 17px;
    top: 15px;
    left: 12px;
    line-height: 1.6; }
  .question.one fieldset div.valid input,
  .question.one fieldset div.valid .statemenu {
    padding-left: 35px; }
